<div class="card border border-2 rounded m-3 region" [ngClass]="{
    'bg-primary': regionName == 'Africa',
    'bg-warning': regionName == 'Europe',
    'bg-danger': regionName == 'Asia',
    'bg-success': regionName == 'Oceania',
    'bg-dark': regionName == 'Americas'
  }" style="width: 10rem; height: 10rem">
  <div class="card-body d-flex justify-content-center align-items-center">
    <a class="h5 card-title text-white" [routerLink]="['/countries', regionSearchName]">{{ regionName }}</a>
  </div>
</div>
