<div class="d-flex justify-content-center align-items-center about">
  <div class="card mb-3" style="max-width: 640px">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/author.png" class="card-img-top" alt="author" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Szymon Wiergowski</h5>
          <h6 class="mt-0">Junior Software Developer</h6>
          <p class="card-text">
            I work with passion as a frontend oriented Junior Software
            Developer. I am currently building web applications using the
            Angular framework. I want to constantly develop my skills, so I take
            part in simple tasks that require backend skills (C# and SQL).
          </p>
          <a
            href="https://www.linkedin.com/in/szymon-wiergowski/"
            class="btn btn-primary"
            >linkedin
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
