<div *ngIf="!loading && !displayCoutry" class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <div class="table-responsive">
        <h4 class="text-center mt-2">{{ region | uppercase }}</h4>
        <table
          class="table table-hover table-bordered table-sm table-secondary my-2"
        >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Flag</th>
              <th scope="col">Country name</th>
            </tr>
          </thead>
          <tbody *ngFor="let country of countries; index as i">
            <tr (click)="DisplayCountryDetails(country)">
              <td>{{ i + 1 }}</td>
              <td class="d-flex justify-content-center">
                <img src="{{ country.flag }}" class="img-flag" alt="flag" />
              </td>
              <td>{{ country.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-country *ngIf="displayCoutry" [country]="country" (close)="CloseCountryDetails()"></app-country>
<app-loading *ngIf="loading"></app-loading>
<app-error *ngIf="error" [error]="error"></app-error>
