<div class="d-flex justify-content-center align-items-center country">
  <div class="card" style="width: 22rem">
    <img src="{{ country?.flag }}" class="card-img-top" alt="countryflag" />
    <div class="card-body">
      <h4 class="card-title">{{ country?.name | uppercase }}</h4>
      <p class="fw-bold">
        Region:<span class="card-text fw-normal"> {{ region }}</span>
      </p>
      <p class="fw-bold">
        Capital:<span class="card-text fw-normal"> {{ capital }}</span>
      </p>
      <p class="fw-bold">
        Population:<span class="card-text fw-normal">
          {{ population | number }}</span
        >
      </p>
      <p class="fw-bold">
        Currencies:
        <span *ngFor="let currency of currencies">
          <span class="card-text fw-normal">{{ currency.name }}</span>&nbsp;
        </span>
      </p>
    </div>
    <div class="position-absolute bottom-0 end-0 m-2">
      <button
        type="button"
        class="btn-close"
        (click)="BackToList()"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
