$base-min-heigth: 87vh;
$base-app-color: #044957;

@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100vh;
}

.container-with-menu {
  padding-left: 0;
  padding-right: 0;
  background: url("assets/world-map.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.default--page {
  min-height: $base-min-heigth;
}

.about {
  @extend .default--page;
}

.page-not-found {
  @extend .default--page;
}

.loading {
  @extend .default--page;
}

.country {
  @extend .default--page;
}

.start-page {
  @extend .default--page;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-brand {
  margin-right: 0;
}

.logo {
  height: 2rem;
  padding: 0;
}

.top-menu-about {
  position: absolute;
  right: 2rem;
}

.top-menu-back {
  position: absolute;
  left: 1rem;
}
a {
  text-decoration: none;
}

#region {
  :hover:not(a) {
    -webkit-box-shadow: 5px 5px 15px 5px $base-app-color;
    box-shadow: 5px 5px 15px 5px $base-app-color;
    cursor: pointer;
  }
}

.img-flag {
  height: 2rem;
}
