$info: #849A99;
$table-cell-vertical-align: middle;

@import "~bootstrap/scss/bootstrap.scss";

.container-with-menu {
  padding-left: 0;
  padding-right: 0;
}

.logo{
  height: 2rem;
  padding: 0;
}

.start-page {
  padding-left: 2rem;
  padding-right: 2rem;
}

.top-menu-about {
  position: absolute;
  right: 1rem;
}

.region{
  :hover{
    text-decoration: underline;
    text-decoration-color: red;
    cursor: pointer
    }
}

.img-flag{
  height: 2rem;
}
